/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/js/app.js
/public/css/app.css
/public/vendor
/tests/Coverage/
tests/Coverage
tests/Coverage/html/Admin/dashboard.html
tests/Coverage/html/Admin/index.html
tests/Coverage/html/Admin/Permission.php.html
tests/Coverage/html/Admin/Role.php.html
tests/Coverage/html/Admin/User.php.html
tests/Coverage/html/Console/dashboard.html
tests/Coverage/html/Console/index.html
tests/Coverage/html/Console/Kernel.php.html
tests/Coverage/html/dashboard.html
tests/Coverage/html/Exceptions/dashboard.html
tests/Coverage/html/Exceptions/Handler.php.html
tests/Coverage/html/Exceptions/index.html
tests/Coverage/html/Http/Controllers/Auth/dashboard.html
tests/Coverage/html/Http/Controllers/Auth/index.html
tests/Coverage/html/Http/Controllers/Auth/LoginController.php.html
tests/Coverage/html/Http/Controllers/Auth/ResetPasswordController.php.html
tests/Coverage/html/Http/Controllers/Controller.php.html
tests/Coverage/html/Http/Controllers/dashboard.html
tests/Coverage/html/Http/Controllers/HomeController.php.html
tests/Coverage/html/Http/Controllers/index.html
tests/Coverage/html/Http/Controllers/ProgramController.php.html
tests/Coverage/html/Http/Controllers/Auth/RegisterController.php.html
tests/Coverage/html/Http/Controllers/AppStatusController.php.html
tests/Coverage/html/Http/Controllers/QrCodeController.php.html
tests/Coverage/html/Http/Controllers/WorkSpaceController.php.html
tests/Coverage/html/Http/Controllers/WorkspaceInvitationController.php.html
tests/Coverage/html/Http/dashboard.html
tests/Coverage/html/Http/index.html
tests/Coverage/html/Http/Kernel.php.html
tests/Coverage/html/Http/Middleware/Authenticate.php.html
tests/Coverage/html/Http/Middleware/dashboard.html
tests/Coverage/html/Http/Middleware/EncryptCookies.php.html
tests/Coverage/html/Http/Middleware/HandleInertiaRequests.php.html
tests/Coverage/html/Http/Middleware/index.html
tests/Coverage/html/Http/Middleware/PreventRequestsDuringMaintenance.php.html
tests/Coverage/html/Http/Middleware/RedirectIfAuthenticated.php.html
tests/Coverage/html/Http/Middleware/TrimStrings.php.html
tests/Coverage/html/Http/Middleware/TrustHosts.php.html
tests/Coverage/html/Http/Middleware/TrustProxies.php.html
tests/Coverage/html/Http/Middleware/ValidateSignature.php.html
tests/Coverage/html/Http/Middleware/VerifyCsrfToken.php.html
tests/Coverage/html/Http/Requests/Auth/dashboard.html
tests/Coverage/html/Http/Requests/Auth/index.html
tests/Coverage/html/Http/Requests/Auth/LoginRequest.php.html
tests/Coverage/html/Http/Requests/dashboard.html
tests/Coverage/html/Http/Requests/index.html
tests/Coverage/html/index.html
tests/Coverage/html/Models/AppStatus.php.html
tests/Coverage/html/Models/dashboard.html
tests/Coverage/html/Models/index.html
tests/Coverage/html/Models/Program.php.html
tests/Coverage/html/Models/User.php.html
tests/Coverage/html/Models/WorkSpace.php.html
tests/Coverage/html/Models/WorkSpaceInvitation.php.html
tests/Coverage/html/Policies/dashboard.html
tests/Coverage/html/Policies/index.html
tests/Coverage/html/Policies/WorkSpacePolicy.php.html
tests/Coverage/html/Providers/AdminServiceProvider.php.html
tests/Coverage/html/Providers/AppServiceProvider.php.html
tests/Coverage/html/Providers/AuthServiceProvider.php.html
tests/Coverage/html/Providers/BroadcastServiceProvider.php.html
tests/Coverage/html/Providers/dashboard.html
tests/Coverage/html/Providers/EventServiceProvider.php.html
tests/Coverage/html/Providers/index.html
tests/Coverage/html/Providers/RouteServiceProvider.php.html
tests/Coverage/html/View/Components/AppLayout.php.html
tests/Coverage/html/View/Components/dashboard.html
tests/Coverage/html/View/Components/GuestLayout.php.html
tests/Coverage/html/View/Components/index.html
tests/Coverage/html/View/dashboard.html
tests/Coverage/html/View/index.html
tests/Coverage/html/Admin/dashboard.html
tests/Coverage/html/Admin/index.html
tests/Coverage/html/Admin/Permission.php.html
tests/Coverage/html/Admin/Role.php.html
tests/Coverage/html/Admin/User.php.html
tests/Coverage/html/Console/dashboard.html
tests/Coverage/html/Console/index.html
tests/Coverage/html/Console/Kernel.php.html
tests/Coverage/html/dashboard.html
tests/Coverage/html/Exceptions/dashboard.html
tests/Coverage/html/Exceptions/Handler.php.html
tests/Coverage/html/Exceptions/index.html
tests/Coverage/html/Http/Controllers/Auth/dashboard.html
tests/Coverage/html/Http/Controllers/Auth/index.html
tests/Coverage/html/Http/Controllers/Auth/LoginController.php.html
tests/Coverage/html/Http/Controllers/Auth/ResetPasswordController.php.html
tests/Coverage/html/Http/Controllers/Controller.php.html
tests/Coverage/html/Http/Controllers/dashboard.html
tests/Coverage/html/Http/Controllers/HomeController.php.html
tests/Coverage/html/Http/Controllers/index.html
tests/Coverage/html/Http/Controllers/ProgramController.php.html
tests/Coverage/html/Http/Controllers/Auth/RegisterController.php.html
tests/Coverage/html/Http/Controllers/AppStatusController.php.html
tests/Coverage/html/Http/Controllers/QrCodeController.php.html
tests/Coverage/html/Http/Controllers/WorkSpaceController.php.html
tests/Coverage/html/Http/Controllers/WorkspaceInvitationController.php.html
tests/Coverage/html/Http/dashboard.html
tests/Coverage/html/Http/index.html
tests/Coverage/html/Http/Kernel.php.html
tests/Coverage/html/Http/Middleware/Authenticate.php.html
tests/Coverage/html/Http/Middleware/dashboard.html
tests/Coverage/html/Http/Middleware/EncryptCookies.php.html
tests/Coverage/html/Http/Middleware/HandleInertiaRequests.php.html
tests/Coverage/html/Http/Middleware/index.html
tests/Coverage/html/Http/Middleware/PreventRequestsDuringMaintenance.php.html
tests/Coverage/html/Http/Middleware/RedirectIfAuthenticated.php.html
tests/Coverage/html/Http/Middleware/TrimStrings.php.html
tests/Coverage/html/Http/Middleware/TrustHosts.php.html
tests/Coverage/html/Http/Middleware/TrustProxies.php.html
tests/Coverage/html/Http/Middleware/ValidateSignature.php.html
tests/Coverage/html/Http/Middleware/VerifyCsrfToken.php.html
tests/Coverage/html/Http/Requests/Auth/dashboard.html
tests/Coverage/html/Http/Requests/Auth/index.html
tests/Coverage/html/Http/Requests/Auth/LoginRequest.php.html
tests/Coverage/html/Http/Requests/dashboard.html
tests/Coverage/html/Http/Requests/index.html
tests/Coverage/html/index.html
tests/Coverage/html/Models/AppStatus.php.html
tests/Coverage/html/Models/dashboard.html
tests/Coverage/html/Models/index.html
tests/Coverage/html/Models/Program.php.html
tests/Coverage/html/Models/User.php.html
tests/Coverage/html/Models/WorkSpace.php.html
tests/Coverage/html/Models/WorkSpaceInvitation.php.html
tests/Coverage/html/Policies/dashboard.html
tests/Coverage/html/Policies/index.html
tests/Coverage/html/Policies/WorkSpacePolicy.php.html
tests/Coverage/html/Providers/AdminServiceProvider.php.html
tests/Coverage/html/Providers/AppServiceProvider.php.html
tests/Coverage/html/Providers/AuthServiceProvider.php.html
tests/Coverage/html/Providers/BroadcastServiceProvider.php.html
tests/Coverage/html/Providers/dashboard.html
tests/Coverage/html/Providers/EventServiceProvider.php.html
tests/Coverage/html/Providers/index.html
tests/Coverage/html/Providers/RouteServiceProvider.php.html
tests/Coverage/html/View/Components/AppLayout.php.html
tests/Coverage/html/View/Components/dashboard.html
tests/Coverage/html/View/Components/GuestLayout.php.html
tests/Coverage/html/View/Components/index.html
tests/Coverage/html/View/dashboard.html
tests/Coverage/html/View/index.html
